In [3]:
import numpy as np
import pandas as pd

import sidetable
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [4]:
df= pd.read_csv(r'C:\Users\Yibabe\Desktop\10academyAIMweek-6\data\cleaned.csv')

In [37]:
df.head()

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,ProductCategory,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,airtime,ChannelId_3,1000.0,1000,2018-11-15T02:18:49Z,2,0
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-20.0,20,2018-11-15T02:19:08Z,2,0
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,airtime,ChannelId_3,500.0,500,2018-11-15T02:44:21Z,2,0
3,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,financial_services,ChannelId_2,-644.0,644,2018-11-15T03:34:21Z,2,0
4,5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,airtime,ChannelId_3,2000.0,2000,2018-11-15T03:35:10Z,2,0

In [5]:

# 1. Convert 'TransactionStartTime' to datetime format
df['TransactionStartTime'] = pd.to_datetime(df['TransactionStartTime'], format='%Y-%m-%dT%H:%M:%SZ')

# 2. Now extract the components (hour, day, month, year)
df['TransactionHour'] = df['TransactionStartTime'].dt.hour
df['TransactionDay'] = df['TransactionStartTime'].dt.day
df['TransactionMonth'] = df['TransactionStartTime'].dt.month
df['TransactionYear'] = df['TransactionStartTime'].dt.year

# Display the extracted features
df[['TransactionHour', 'TransactionDay', 'TransactionMonth', 'TransactionYear']].head()

   TransactionHour  TransactionDay  TransactionMonth  TransactionYear
0                2              15                11             2018
1                2              15                11             2018
2                2              15                11             2018
3                3              15                11             2018
4                3              15                11             2018

In [75]:
df.head()

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,...,ChannelId,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,TransactionHour,TransactionDay,TransactionMonth,TransactionYear
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,...,ChannelId_3,1000.0,1000,2018-11-15 02:18:49,2,0,2,15,11,2018
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,...,ChannelId_2,-20.0,20,2018-11-15 02:19:08,2,0,2,15,11,2018
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,...,ChannelId_3,500.0,500,2018-11-15 02:44:21,2,0,2,15,11,2018
3,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,...,ChannelId_2,-644.0,644,2018-11-15 03:34:21,2,0,3,15,11,2018
4,5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,...,ChannelId_3,2000.0,2000,2018-11-15 03:35:10,2,0,3,15,11,2018

In [121]:
df.columns

Index(['Unnamed: 0', 'TransactionId', 'BatchId', 'AccountId', 'SubscriptionId',
       'CustomerId', 'CurrencyCode', 'CountryCode', 'ProviderId', 'ProductId',
       'ProductCategory', 'ChannelId', 'Amount', 'Value',
       'TransactionStartTime', 'PricingStrategy', 'FraudResult',
       'TransactionHour', 'TransactionDay', 'TransactionMonth',
       'TransactionYear'],
      dtype='object')

perform encoding for the columns ProductId

In [6]:
# Perform one-hot encoding for 'ProductId'
product_encoded = pd.get_dummies(df['ProductId'], prefix='ProductId')

# Merge back and drop the original column
df_encoded = pd.concat([df, product_encoded], axis=1)

productid encoding

In [7]:
# Convert True/False to 0/1 for the encoded columns
encoded_columns = [ 'ProductId_ProductId_1', 'ProductId_ProductId_10',
       'ProductId_ProductId_11', 'ProductId_ProductId_12',
       'ProductId_ProductId_13', 'ProductId_ProductId_14',
       'ProductId_ProductId_15', 'ProductId_ProductId_16',
       'ProductId_ProductId_19', 'ProductId_ProductId_2',
       'ProductId_ProductId_20', 'ProductId_ProductId_21',
       'ProductId_ProductId_24', 'ProductId_ProductId_3',
       'ProductId_ProductId_4', 'ProductId_ProductId_6',
       'ProductId_ProductId_9']

df_encoded[encoded_columns] = df_encoded[encoded_columns].astype(int)

In [78]:
df_encoded.head()

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,...,ProductId_ProductId_16,ProductId_ProductId_19,ProductId_ProductId_2,ProductId_ProductId_20,ProductId_ProductId_21,ProductId_ProductId_24,ProductId_ProductId_3,ProductId_ProductId_4,ProductId_ProductId_6,ProductId_ProductId_9
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,...,0,0,0,0,0,0,0,0,0,0
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,...,0,0,0,0,0,0,0,0,1,0
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,...,0,0,0,0,0,0,0,0,0,0
3,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,...,0,0,0,0,0,0,0,0,1,0
4,5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,...,0,0,0,0,0,0,1,0,0,0

Encoding ChannelId

In [8]:
# Perform one-hot encoding on 'ChannelId' column (assuming it's categorical)
channel_encoded = pd.get_dummies(df['ChannelId'], prefix='ChannelId')

# Merge the encoded columns back into the original DataFrame
df2 = pd.concat([df_encoded, channel_encoded], axis=1)

# Drop the original 'ChannelId' column
#df_encoded.drop('ChannelId', axis=1, inplace=True)

In [80]:
df2.head()

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,...,ProductId_ProductId_21,ProductId_ProductId_24,ProductId_ProductId_3,ProductId_ProductId_4,ProductId_ProductId_6,ProductId_ProductId_9,ChannelId_ChannelId_1,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,...,0,0,0,0,0,0,False,False,True,False
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,...,0,0,0,0,1,0,False,True,False,False
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,...,0,0,0,0,0,0,False,False,True,False
3,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,...,0,0,0,0,1,0,False,True,False,False
4,5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,...,0,0,1,0,0,0,False,False,True,False

Convert True/False to 1/0

In [9]:
# Specify the columns to convert from True/False to 0/1
encoded_columns = ['ChannelId_ChannelId_1', 'ChannelId_ChannelId_2', 
                   'ChannelId_ChannelId_3', 'ChannelId_ChannelId_5']

# Convert the specified columns from boolean (True/False) to integers (0/1)
df2[encoded_columns] = df2[encoded_columns].astype(int)

In [83]:
df2.head()

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,...,ProductId_ProductId_21,ProductId_ProductId_24,ProductId_ProductId_3,ProductId_ProductId_4,ProductId_ProductId_6,ProductId_ProductId_9,ChannelId_ChannelId_1,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,...,0,0,0,0,0,0,0,0,1,0
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,...,0,0,0,0,1,0,0,1,0,0
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,...,0,0,0,0,0,0,0,0,1,0
3,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,...,0,0,0,0,1,0,0,1,0,0
4,5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,...,0,0,1,0,0,0,0,0,1,0

ProviderId Encoding:

In [10]:
# Perform one-hot encoding for 'ProviderId'
provider_encoded = pd.get_dummies(df['ProviderId'], prefix='ProviderId')

# Merge back into the main DataFrame and drop the original column
df3 = pd.concat([df2, provider_encoded], axis=1)
#df_encoded.drop('ProviderId', axis=1, inplace=True)

# Convert True/False to 0/1 for the encoded columns
encoded_columns = ['ProviderId_ProviderId_1', 'ProviderId_ProviderId_2', 
                   'ProviderId_ProviderId_3', 'ProviderId_ProviderId_4', 
                   'ProviderId_ProviderId_5', 'ProviderId_ProviderId_6']

df3[encoded_columns] = df3[encoded_columns].astype(int)

In [85]:
df3.head()

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,...,ChannelId_ChannelId_1,ChannelId_ChannelId_2,ChannelId_ChannelId_3,ChannelId_ChannelId_5,ProviderId_ProviderId_1,ProviderId_ProviderId_2,ProviderId_ProviderId_3,ProviderId_ProviderId_4,ProviderId_ProviderId_5,ProviderId_ProviderId_6
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,...,0,0,1,0,0,0,0,0,0,1
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,...,0,1,0,0,0,0,0,1,0,0
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,...,0,0,1,0,0,0,0,0,0,1
3,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,...,0,1,0,0,0,0,0,1,0,0
4,5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,...,0,0,1,0,0,0,0,0,0,1

PricingStrategy Encoding:

In [11]:
# Perform one-hot encoding for 'PricingStrategy'
pricing_encoded = pd.get_dummies(df['PricingStrategy'], prefix='PricingStrategy')

# Merge back and drop the original column
df4 = pd.concat([df3, pricing_encoded], axis=1)
#df3.drop('PricingStrategy', axis=1, inplace=True)

# Convert True/False to 0/1 for the encoded columns
encoded_columns = ['PricingStrategy_0', 'PricingStrategy_1', 'PricingStrategy_2', 'PricingStrategy_4']

df4[encoded_columns] = df4[encoded_columns].astype(int)

In [87]:
df4.head()

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,...,ProviderId_ProviderId_1,ProviderId_ProviderId_2,ProviderId_ProviderId_3,ProviderId_ProviderId_4,ProviderId_ProviderId_5,ProviderId_ProviderId_6,PricingStrategy_0,PricingStrategy_1,PricingStrategy_2,PricingStrategy_4
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,...,0,0,0,0,0,1,0,0,1,0
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,...,0,0,0,1,0,0,0,0,1,0
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,...,0,0,0,0,0,1,0,0,1,0
3,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,...,0,0,0,1,0,0,0,0,1,0
4,5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,...,0,0,0,0,0,1,0,0,1,0

ProductCategory Encoding:

In [12]:
# Perform one-hot encoding for 'ProductCategory'
product_category_encoded = pd.get_dummies(df['ProductCategory'], prefix='ProductCategory')

# Merge back and drop the original column
df5 = pd.concat([df4, product_category_encoded], axis=1)
#df_encoded.drop('ProductCategory', axis=1, inplace=True)

In [13]:
df5.head()

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,...,PricingStrategy_2,PricingStrategy_4,ProductCategory_airtime,ProductCategory_data_bundles,ProductCategory_financial_services,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_tv,ProductCategory_utility_bill
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,...,1,0,True,False,False,False,False,False,False,False
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,...,1,0,False,False,True,False,False,False,False,False
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,...,1,0,True,False,False,False,False,False,False,False
3,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,...,1,0,False,False,True,False,False,False,False,False
4,5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,...,1,0,True,False,False,False,False,False,False,False

In [14]:
# Convert True/False to 0/1 for the encoded columns
encoded_columns = ['ProductCategory_airtime', 'ProductCategory_data_bundles', 
                   'ProductCategory_financial_services', 'ProductCategory_movies', 
                   'ProductCategory_other', 'ProductCategory_ticket', 
                   'ProductCategory_tv', 
                   'ProductCategory_utility_bill']

df5[encoded_columns] = df5[encoded_columns].astype(int)

In [96]:
df5.head()

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,...,PricingStrategy_2,PricingStrategy_4,ProductCategory_airtime,ProductCategory_data_bundles,ProductCategory_financial_services,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_tv,ProductCategory_utility_bill
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,...,1,0,1,0,0,0,0,0,0,0
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,...,1,0,0,0,1,0,0,0,0,0
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,...,1,0,1,0,0,0,0,0,0,0
3,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,...,1,0,0,0,1,0,0,0,0,0
4,5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,...,1,0,1,0,0,0,0,0,0,0

In [15]:
# Frequency encode the 'CustomerId' column
customer_id_freq = df5['CustomerId'].value_counts()

# Map the frequencies back to the original dataframe
df5['CustomerId_Encoded'] = df5['CustomerId'].map(customer_id_freq)

In [16]:
# Frequency encode the 'CustomerId' column
customer_id_freq = df5['SubscriptionId'].value_counts()

# Map the frequencies back to the original dataframe
df5['SubscriptionId_Encoded'] = df5['SubscriptionId'].map(customer_id_freq)

In [17]:
# Frequency encode the 'CustomerId' column
customer_id_freq = df5['AccountId'].value_counts()

# Map the frequencies back to the original dataframe
df5['AccountId_Encoded'] = df5['AccountId'].map(customer_id_freq)

In [18]:
# Frequency encode the 'CustomerId' column
customer_id_freq = df5['BatchId'].value_counts()

# Map the frequencies back to the original dataframe
df5['BatchId_Encoded'] = df5['BatchId'].map(customer_id_freq)

In [19]:
df5.head()

,Unnamed: 0,TransactionId,BatchId,AccountId,SubscriptionId,CustomerId,CurrencyCode,CountryCode,ProviderId,ProductId,...,ProductCategory_financial_services,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_tv,ProductCategory_utility_bill,CustomerId_Encoded,SubscriptionId_Encoded,AccountId_Encoded,BatchId_Encoded
0,0,TransactionId_76871,BatchId_36123,AccountId_3957,SubscriptionId_887,CustomerId_4406,UGX,256,ProviderId_6,ProductId_10,...,0,0,0,0,0,0,101,54,54,1
1,1,TransactionId_73770,BatchId_15642,AccountId_4841,SubscriptionId_3829,CustomerId_4406,UGX,256,ProviderId_4,ProductId_6,...,1,0,0,0,0,0,101,27779,26042,1
2,2,TransactionId_26203,BatchId_53941,AccountId_4229,SubscriptionId_222,CustomerId_4683,UGX,256,ProviderId_6,ProductId_1,...,0,0,0,0,0,0,2,2,2,1
3,4,TransactionId_28195,BatchId_38780,AccountId_4841,SubscriptionId_3829,CustomerId_988,UGX,256,ProviderId_4,ProductId_6,...,1,0,0,0,0,0,22,27779,26042,1
4,5,TransactionId_23223,BatchId_25954,AccountId_1078,SubscriptionId_4238,CustomerId_1432,UGX,256,ProviderId_6,ProductId_3,...,0,0,0,0,0,0,1,1,1,1

In [20]:
# List of columns to drop (unnecessary for normalization)
columns_to_drop = ['TransactionId', 'BatchId', 'AccountId', 'SubscriptionId', 
                   'CustomerId', 'CurrencyCode', 'CountryCode', 'ProviderId', 
                   'ProductId', 'ProductCategory', 'ChannelId']
                  

# Dropping the columns
df_cleaned = df5.drop(columns=columns_to_drop)

In [21]:
# Display the remaining columns after dropping
df_cleaned.head()

,Unnamed: 0,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,TransactionHour,TransactionDay,TransactionMonth,TransactionYear,...,ProductCategory_financial_services,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_tv,ProductCategory_utility_bill,CustomerId_Encoded,SubscriptionId_Encoded,AccountId_Encoded,BatchId_Encoded
0,0,1000.0,1000,2018-11-15 02:18:49,2,0,2,15,11,2018,...,0,0,0,0,0,0,101,54,54,1
1,1,-20.0,20,2018-11-15 02:19:08,2,0,2,15,11,2018,...,1,0,0,0,0,0,101,27779,26042,1
2,2,500.0,500,2018-11-15 02:44:21,2,0,2,15,11,2018,...,0,0,0,0,0,0,2,2,2,1
3,4,-644.0,644,2018-11-15 03:34:21,2,0,3,15,11,2018,...,1,0,0,0,0,0,22,27779,26042,1
4,5,2000.0,2000,2018-11-15 03:35:10,2,0,3,15,11,2018,...,0,0,0,0,0,0,1,1,1,1

In [129]:
df_cleaned.columns

Index(['Unnamed: 0', 'Amount', 'Value', 'TransactionStartTime',
       'PricingStrategy', 'FraudResult', 'TransactionHour', 'TransactionDay',
       'TransactionMonth', 'TransactionYear', 'ProductId_ProductId_1',
       'ProductId_ProductId_10', 'ProductId_ProductId_11',
       'ProductId_ProductId_12', 'ProductId_ProductId_13',
       'ProductId_ProductId_14', 'ProductId_ProductId_15',
       'ProductId_ProductId_16', 'ProductId_ProductId_19',
       'ProductId_ProductId_2', 'ProductId_ProductId_20',
       'ProductId_ProductId_21', 'ProductId_ProductId_24',
       'ProductId_ProductId_3', 'ProductId_ProductId_4',
       'ProductId_ProductId_6', 'ProductId_ProductId_9',
       'ChannelId_ChannelId_1', 'ChannelId_ChannelId_2',
       'ChannelId_ChannelId_3', 'ChannelId_ChannelId_5',
       'ProviderId_ProviderId_1', 'ProviderId_ProviderId_2',
       'ProviderId_ProviderId_3', 'ProviderId_ProviderId_4',
       'ProviderId_ProviderId_5', 'ProviderId_ProviderId_6',
       'PricingStrategy_0', 'PricingStrategy_1', 'PricingStrategy_2',
       'PricingStrategy_4', 'ProductCategory_airtime',
       'ProductCategory_data_bundles', 'ProductCategory_financial_services',
       'ProductCategory_movies', 'ProductCategory_other',
       'ProductCategory_ticket', 'ProductCategory_tv',
       'ProductCategory_utility_bill', 'CustomerId_Encoded',
       'SubscriptionId_Encoded', 'AccountId_Encoded', 'BatchId_Encoded'],
      dtype='object')

In [22]:
# List of numerical columns to scale
numerical_columns = ['Amount', 'Value', 'TransactionHour', 
                     'TransactionDay', 'TransactionMonth', 'TransactionYear']

In [23]:
from sklearn.preprocessing import StandardScaler

# Initialize the StandardScaler
scaler = StandardScaler()

# Standardize the numerical columns
df_cleaned[numerical_columns] = scaler.fit_transform(df_cleaned[numerical_columns])

In [24]:
# Check the result
df_cleaned.head(10)

,Unnamed: 0,Amount,Value,TransactionStartTime,PricingStrategy,FraudResult,TransactionHour,TransactionDay,TransactionMonth,TransactionYear,...,ProductCategory_financial_services,ProductCategory_movies,ProductCategory_other,ProductCategory_ticket,ProductCategory_tv,ProductCategory_utility_bill,CustomerId_Encoded,SubscriptionId_Encoded,AccountId_Encoded,BatchId_Encoded
0,0,0.432168,0.265403,2018-11-15 02:18:49,2,0,-2.136606,-0.192479,0.812629,-0.956226,...,0,0,0,0,0,0,101,54,54,1
1,1,-0.662992,-1.002890,2018-11-15 02:19:08,2,0,-2.136606,-0.192479,0.812629,-0.956226,...,1,0,0,0,0,0,101,27779,26042,1
2,2,-0.104676,-0.381685,2018-11-15 02:44:21,2,0,-2.136606,-0.192479,0.812629,-0.956226,...,0,0,0,0,0,0,2,2,2,1
3,4,-1.332973,-0.195324,2018-11-15 03:34:21,2,0,-1.933964,-0.192479,0.812629,-0.956226,...,1,0,0,0,0,0,22,27779,26042,1
4,5,1.505854,1.559580,2018-11-15 03:35:10,2,0,-1.933964,-0.192479,0.812629,-0.956226,...,0,0,0,0,0,0,1,1,1,1
5,7,-1.178362,-0.381685,2018-11-15 03:45:13,2,0,-1.933964,-0.192479,0.812629,-0.956226,...,1,0,0,0,0,0,14,27779,26042,1
6,8,-0.104676,-0.381685,2018-11-15 04:14:59,2,0,-1.731322,-0.192479,0.812629,-0.956226,...,0,0,0,0,0,0,3,2,2,1
7,9,0.002693,-0.252267,2018-11-15 04:31:48,2,0,-1.731322,-0.192479,0.812629,-0.956226,...,1,0,0,0,0,0,4,3,3,1
8,10,0.314062,0.123044,2018-11-15 04:32:08,2,0,-1.731322,-0.192479,0.812629,-0.956226,...,0,0,0,0,0,0,12,9,9,1
9,11,-0.684466,-0.977006,2018-11-15 04:32:42,2,0,-1.731322,-0.192479,0.812629,-0.956226,...,1,0,0,0,0,0,12,27779,26042,1

In [25]:
df_cleaned.to_csv(r'C:\Users\Yibabe\Desktop\10 academyAIM week_6\data\final_cleaned.csv')